.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  box-shadow: 2px 2px 50px rgb(99, 138, 138);
  overflow: scroll;
  h2 {
    padding: 2rem;
  }
}

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  img {
    width: 5rem;
  }
  &:hover {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  }
}

.song-description {
  padding-left: 1rem;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

.selected {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
